<!DOCTYPE html>
<html>
  <head>
    <title>打卡結果</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<form action="/pushcard" method="get">
	 <input type="submit" value="打卡" />
	</form>
  </body>
</html>
