<!DOCTYPE html>
<html>
  <head>
    <title>打卡結果</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
	    setTimeout(function(){
	        window.location.href = "https://www.pershing.com.tw";
	    },20000);
    </script>
  </head>
  <body>
    <h1>打卡</h1>
    <p><%= ans %></p>
    <form action="/pushcard" method="get">
	 <input style='width:300px;height:200px; font-size:100px;' type="submit" value="OK" />
    </form>
  </body>
</html>
